@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Open+Sans:ital,wght@0,300;1,700&family=Source+Code+Pro:ital,wght@1,506&display=swap');
*{
    border: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');

body {
  font-family: Libre Caslon Text;
  background-color: #FFFFFF;
}

.body-text {
  padding-top: 20vh;
  text-align: center;
  position: relative;
}

.hamburger-icon {
  position: absolute;
  z-index: 1;
  top: 5vh;
  left: 5px;
  padding-bottom: 2vh;
}

.hamburger-icon span {
  height: 5px;
  width: 40px;
  background-color: black;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
}

#openmenu:checked ~ .menu-pane {
  left: -5vw;
  transform: translateX(-5vw);
}

#openmenu:checked ~ .body-text {
display: none;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  transform: rotate(45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
  opacity: 0;
}

div.menu-pane {
  background-color: #000;
  position: absolute;
  transform: translateX(-105vw);
  transform-origin: (0, 0);
  width: 100vw;
  height: 100%;
  transition: 0.6s ease-in-out;
}

.menu-pane p {
  color: black;
  font-size: 0.6em;
}

.menu-pane nav {
  padding: 10%;
}

.menu-links li, a, span {
      transition: 0.5s ease-in-out;
}

.menu-pane ul {
  padding: 10%;
  display: inline-block;
}

.menu-pane li {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
    font-size: 1em;
}


.menu-pane li:first-child {
  font-size: 1.3em;
  margin-left: -10px;
}


.menu-links li a {
  color: white;
  text-decoration: none;
}


.menu-links li:hover a {
  color: #FFAB91;
}

.menu-links li:first-child:hover a {
  color: black;  
  background-color: #FFAB91;
}

#QC-info {
  background-color: #FFAB91;
    border: 2px solid;
  border-color: #FFAB91;
display: block;
  opacity: 0;
  
}

.menu-links li:first-child:hover #QC-info {
opacity: 1;
}

.menu-links li:first-child:hover #DC-info {
opacity: 1;
}

#DC-info {
  background-color: #FFAB91;
    border: 2px solid;
  border-color: #FFAB91;
display: block;
  opacity: 0;
}


.menu-links li:first-child a {
  padding: 5px;
}



input.hamburger-checkbox {
  position: absolute;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  width: 10vw;
  opacity: 0;
  height: 6vh;
}

body{
    width: 100%;
    height: 100%;
    background-image:url('background.png');
    background-size:cover;
    background-attachment: fixed;
}
.top{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    display: flex;
}
.logo img{
    width: 120px;
    height: 90px;
    background-size:cover;
    padding-left: 82px;
}
.nav-cart {
    padding-left: 75rem;
    font-size: 30px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #044D94;
    font-weight: bolder;
    padding-bottom: 1px;
    font-size: 50px;
    color: #FFFFFF;
    font-family: 'Baloo Bhai';
}
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #044D94;
    height: 1056px;
}
.box {
    border: 2px solid black;
    height: 251px;
    width: 16%;
    background-color: white;
    padding: 7px 0px 15px;
    margin-top: 43px;
    margin-left: 57px;
    margin-right: 45px;
    border-radius: 34px;
}

.box-img {
    height: 196px;
    background-size: cover;
    margin-top: -40px;
    border-radius: 50%;
}
.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}
p {
    font-size: 22px;
    font-weight: bold;
    height: 25px;
    padding-left: 35px;
}
a {
    color: #007185;
    background-color: #F9F9FF;
    display: flex;
    justify-content: center;
    margin-top: -31px;
    margin-left: 48px;
}
a::before {
    width: 0;
    background: #FFFFFF;
    transition: -3s;
}
a:hover::before {
    width: 100%;
}
@media (resolution: 1dppx) {
    body {
      font-size: 16px;  /* CSS for devices with low resolution */
    }
    .box {
        position: relative;
        top: 100px;
    }
   }
   
@media (resolution: 2dppx) {
    body {
      font-size: 24px; /* CSS for devices with high resolution */
    }
   }
   [class*="col-"] {
    width: 100%; /* For mobile phones: */
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }