body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    background-color: #256db5;
}

.logo {
    width: 100px;
    float: left;
}

header {
    background-color: #fff;
    color: #faa71f;
    font-size: larger;
    padding: 10px;
    text-align: center;
}

#navbar {
    background-color: #faa71f;
    width: 200px; 
    height: 100vh; 
    position: fixed; 
    top: 10;
    left: 0;
    overflow-y: auto; 
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #4c4c4c;
    font-size: larger;
    display: block;
}

nav ul li a:hover {
    color: #faa71f;
    background-color: #fff;
}

.main-content {
    margin-left: 200px; 
    padding: 20px;
}

.home-text {
    margin-top: 10%;
    font-size: 50px;
}

.home-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.home-text span {
    color: #ff8800;
}
