.login_body{
    top: 50%;
    display: grid;
    justify-content: center;
    -ms-transform: translateY(75%);
    transform: translateY(75%);
}

.custom_form{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: max-content;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0.5px black;
    margin: auto;
}

.norequired{
    font-family: poppins;
    color: #7A7A7A;
    font-size: large;
}

.required{
    font-family: poppins;
    color: #7A7A7A;
    font-size: large;
}

.required::after{
    content: '*';
    font-size: small;
    color: red;
}

.placeholder{
    font-size: large;
    font-family: poppins;
}

.custom_container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.custom_button_icon{
    background-color: #ffa632;
    margin: 0;
    max-width: max-content;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
}  

.custom_button_icon:hover{
    background-color: #ee9521;
}

.button_text{
    font-family: poppins;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.custom_field + .custom_field{
    padding-top: 10px;
}

.custom_submit{
    align-self: center;
}

.custom_button_submit{
    background-color: #184E77;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.custom_button_submit:hover{
    background-color: #0b3758;
}

.submit_text{
    padding-top: 5px;
}